<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Пятерочка.Properties.Settings.Nachenocka_DeshevoConnectionString"
            connectionString="Data Source=LAPTOP-NMD3KB6B\SQLEXPRESS;Initial Catalog=Nachenocka_Deshevo;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>